<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='Semantic/semantic.css') }}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - My Webpage</title>
</head>
<body>

    <main>
        {% if current_user.is_authenticated %}
            <div class="ui menu">
                <a class="active item" href="/">Home</a>
                <a class="item" href="addFlux">Flow</a>
                <a class="item" href="VoirFlux">My flows</a>
                <div class="right menu">
                    <a class="ui item" href="{{ url_for('logout') }}">
                      Logout
                    </a>
                </div>
            </div>
            <p style="font-size:10px"> You are logged in as : {{ current_user.username }} </p>
        {% endif %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}

                {% for message in messages %}
                <div class="ui positive message">
                    <i class="close icon"></i>
                    <div class="header">
                      
                    </div>
                    <p>{{ message }}</p>
                  </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container"> 
            {% block content %}{% endblock %}
        </div>


    
    </main>
    <footer class="blockquote-footer" >
        {% block footer %}
        &copy; Copyright 2008 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>