{% extends "base.html" %}

{% block title %}  INDEX  {% endblock %}  

{% block content %}

        <h2 style="text-align:center"> Welcome in FluX-web ! </h2>    

        <div style="display: flex;">
            <div>
                <div class="ui vertical menu" style="width: 300px;">
                    <a class="item header">
                        Top of flows
                      </a>
                    <a class="item">
                      Inbox
                      <div class="ui label">51</div>
                    </a>
                    
                    <a class="item">
                      Updates
                      <div class="ui label">51</div>
                    </a>
                    <a class="item">
                        Updates
                        <div class="ui label">51</div>
                      </a>
                      <a class="item">
                        Updates
                        <div class="ui label">51</div>
                      </a>
                </div>
                  
            </div>


            <div class="card" style="width: 50%; margin:auto;">
                <div class="card-body">
                    <p> Dear user, you can add your RSS feeds and consult them with the navigation bar.</p>
                    <p> We wish you a good visit! </p>
                </div>
            </div>
        </div>




{% endblock %}
