{% extends "base.html" %}

{% block title %}  Formulaire  {% endblock %}  
{% block content %}

    <div class="ui segment" id="login-container">
        <h2 class="text-center">Login</h2>
        <div class="ui divider"></div>

        <form method="POST">
            {% for field in form %}
                {% if field.widget.input_type != 'hidden' %}
                    <div class="field">
                        {{ field.label() }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="alert alert-error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endif %}
                {{ field() }}

            {% endfor %}
          
            <div class="mside-medium">
                <a href="{{ url_for('signin') }}">Create an account.</a>
            </div>
            <div class="msg">{{ msg }}</div>
            <button id="ui button blue" type="submit" class="ui button blue">Login</button>
        </form>
    </div>

{% endblock %}