{% extends "base.html" %}

{% block title %}  Formulaire  {% endblock %}  
{% block content %}

<h2>Register</h2>

<form action="{{ url_for('register') }}" method="POST" autocomplete="off">
    <label for="username">
        <i class="fas fa-user"></i>
    </label>
    <input type="text" name="username" placeholder="Username" id="username" required>
    <label for="password">
        <i class="fas fa-lock"></i>
    </label>
    <input type="password" name="password" placeholder="Password" id="password" required>
    <label for="email">
        <i class="fas fa-envelope"></i>
    </label>
    <input type="email" name="email" placeholder="Email" id="email" required>
    <div class="msg">{{ msg }}</div>
    <input type="submit" value="Register">
</form>



{% endblock %}
