{% extends "base.html" %}

{% block title %}  Sign in  {% endblock %}  
{% block content %}

    <div class="ui segment" id="login-container">
        <h2 class="text-center">Sign in</h2>
        <div class="ui divider"></div>
            <form method="POST" action="">
                {{ form.csrf_token }}
                {{ form.username.label }} {{ form.username() }}
                {{ form.email.label }} {{ form.email() }}
                {{ form.password.label }} {{ form.password() }}
                {{ form.verify_password.label }} {{ form.verify_password() }}
                <input type="submit" class="ui button blue mside-medium" value="Sign in">
            </form>
    </div>

{% endblock %}


