{% extends "base.html" %}

{% block title %} Add a flow {% endblock %}  
{% block content %}
<div class="ui segment" id="login-container">
    <h2 class="text-center">Add a flow!</h2>
    <div class="ui divider"></div>

    <form method="POST">
        {% for field in form %}
            {% if field.widget.input_type != 'hidden' %}
                {{ field.label() }}
                {{ field }}
                {% if field.errors %}
                    {% for error in field.errors %}
                    <div class="alert alert-error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        
    
        {% endfor %}
        <button class="ui button blue mt-medium" type="submit">Save</button>
    </form>
     
</div>


{% endblock %}