{% extends "base.html" %}
{% block title %}  Mes flux  {% endblock %}  

{% block content %}

    <div class="container">

        <h2>Here, your flows  : </h2>
        
        {% for flux in userFlux %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://lh3.googleusercontent.com/proxy/m5Fy7yZbf4_dQGl7_eNc56NKe1ZgJIvZdMkGu8faGo_k2RByv0QZHoITZvzTXq81ivfhUPmK9771CaFvIpfUyBwy2Q5eE8JqrGPeOpgkF_FfxXeWohi1" class="card-img" alt="imageFlux">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Title : {{ flux.feed.title }}</h5>
                    <p> {{ flux.feed.description }} </p>
                    <p> Link : <a href="{{ flux.feed.link }}"> Click me </a> </p>
                    <p class="card-text"><small class="text-muted">Last updated {{ flux.feed.updated }} </small></p>
                    </div>
                </div>
                </div>
            </div>
        {% endfor %}

    </div>


{% endblock %}